.gb-chart {
  // text-align: right;
  height: 60px;
  >div {
    background: darkseagreen;
    display: inline-block;
    border: 1px solid white;
    min-height: 5px;
    box-sizing: border-box;
  }
}