.tableHeader-rotated {
  height: 13em;
  white-space: nowrap;
  transform-origin: bottom left;
  transform: translate(30px, 0px) rotate(-45deg);
  line-height: 0.9;
  border-bottom: 1px solid #ccc;
  border-left: none !important;
  padding: 0 0 0.75em 0 !important;
  > div{
    display: inline-block;
  }
}
